.img {
    padding-top: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-img {
        width: 60%;
    }
}

form {
    padding-top: 2em;
    ion-button {
        padding-top: 10px;
    }
    ion-fab-button {
        width: 3.5em !important;
        height: 3.5em !important;
    }
    .gridBtn {
        display: grid;
        grid-template-columns: 3em 3em;
        gap: 3em;
    }
    ion-item {
        padding: 1em;
    }
}

ion-fab-list {
    ion-fab-button {
        width: 3.5em !important;
        height: 3.5em !important;
    }
}

.access {
    padding-top: 3em;
}

.center {
    display: grid;
    place-items: center;
}

.gridBtn2 {
    display: grid;
    grid-template-columns: 5em 5em;
    gap: 0.5em;
}

.gridBtn3 {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    gap: 0.5em;
}